.App {
  text-align: center;
}

h1 {
  font-family: 'Titan One', cursive;
  font-size: 3rem;
  color: #F2ADA7;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}